body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* --------------------------
    header-section-start
------------------------------- */

.sections{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.headpart{
    width: 50%;

}
.head-pic{
    position: relative;
}
.head-pic img{
    width: 440px;
    height: auto;
    position: relative;
    top: 50px;
    left: 20px;
}
.border-circle{
    width: 450px;
    height: 450px;
    position: absolute;
    top: 30px;
    left: 20px;
    border: 3px solid #F1E4FF;
    border-radius: 50%;
}
.circle{
    width: 330px;
    height: 330px;
    position: absolute;
    top: 90px;
    left: 90px;
    border-radius: 50%;
    background-color: #F1E4FF;
}
.head-text{
    margin-right: 100px;
}
.head-text h1{
    font-size: 45px;
    color: #3A3A3A;
    margin: 0;

}
.head-text p{
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
    margin: 16px 0;

}
.head-text a button{
    font-size: 16px;
    padding: 10px 24px;
    background: #E02C6D;
    border: none;
    border-radius: 41px;
    color: #FFFFFF;
    text-decoration: none;
    

}
button:hover{
    background: #da1960;
    transform: scale(0.9);
    transition: transform linear 0.3s;
    box-shadow: inset 2px 2px rgb(150, 20, 20);
}
button i{
    margin-left: 8px;
}
/* ---------header-section-end---------------- */

/* --------------------------------
Popular Collection start
-------------------------------- */

.section-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    width: 330px;
    

}
.collection-title{
    
    position: relative;
    top: 0px;
    margin: 100px 0 0 0;
    font-weight: 600;
    font-size: 28px;
    color: #3A3A3A;

    

}
.cards{
    width: 330px;
}

.card{
    padding: 17px 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.card-pic img{
    width: 300px;
    height: 256px;
}

.card-details h3{
    margin: 16px 0 6px 0;
    font-size: 28px;
    font-weight: 500;
    color: #18191F;
}
.card-details p{
    margin: 0;
    
    
}
.price{
    font-size: 24px;
}
.rating{
    font-size: 14px;
}
.rating i{
    color: #FB8200;
}
.rating span{
    color: #5E6366;
}
.description{
    color: #787885;

}
/* --------------Popular Collection end----------------- */

/* --------------------------------
footer 
-------------------------------- */
footer{
    background: #0A0826;
    height: 239px;
    display: flex;
    align-items: center;
    justify-content: center
}
.footer-text{
    text-align: center;
    color: white;
}    
.footer-text h3{
    margin: 3px 0;
    font-size: 24px;
    
}
.footer-text p{
    font-size: 14px;
    
}
.social-icon a i{
    margin: 8px;
    padding: 7px;
    background-color: rgba(255, 255, 255, 0.116);
    border-radius: 50%;
    color: white;
}




/* ------------------------------------------
Mobile version
----------------------------------------- */
@media only screen and (max-width:688px){
    .headpart{
        width: 100%;
    
    }
    .head-text{
        position: relative;
        top: 350px;
        left: 0px;
        margin-right: 0;
        text-align: center;
    }
    .head-text h1{
        font-size: 28px;
        display: block;
    
    }
    .head-pic{
        position: absolute;
        top: 50px;
        left: 0px;
        width: 300px;
        
    }
    .head-pic img{
        top: 80px;
        left: 35px;
        width: 250px;
        height: auto;
    }
    .head-pic .border-circle{
        
        width: 300px;
        height: 300px;
    }
    .head-pic .circle{
        top: 65px;
        left: 60px;
        width: 230px;
        height: 230px;
    }


    .section-2{
        
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        margin: 200px 0;
    
    }
    .collection-title{
        font-size: 16px;
        left: 0;
        
    }
    .cards{
        width: 1047px;
    }
    .card-pic{
        width: 330px;
    }
    footer{
        position: relative;
        top: 200px;
        
    }
}