body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* --------------------------
    header-section-start
------------------------------- */

.heading-sec{
    display: flex;
    justify-content: center;
    width: 100%
    
}

.headparts{
    
    width: 1200px;
    margin: 80px 0 100px 0;
    
}

.headpart{
   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    align-items: center;

}

.head-pic{
    position: relative;
    margin-left: 100px;
    
}
.head-pic img{
    width: 440px;
    height: auto;
    position: relative;
    top: 50px;
    left: 20px;
    
}
.border-circle{
    width: 450px;
    height: 450px;
    position: absolute;
    top: 30px;
    left: 20px;
    border: 3px solid #F1E4FF;
    border-radius: 50%;
}
.circle{
    width: 330px;
    height: 330px;
    position: absolute;
    top: 90px;
    left: 90px;
    border-radius: 50%;
    background-color: #F1E4FF;
}
.head-text{
    padding-left: 20px;
    
}
.head-text h1{
    font-size: 40px;
    color: #3A3A3A;
    margin: 0;

}
.head-text p{
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
    margin: 16px 0;

}
.head-text a button{
    font-size: 16px;
    padding: 10px 24px;
    background: #E02C6D;
    border: none;
    border-radius: 41px;
    color: #FFFFFF;
    text-decoration: none;
    

}
button:hover{
    background: #da1960;
    transform: scale(0.9);
    transition: transform linear 0.3s;
    box-shadow: inset 2px 2px rgb(150, 20, 20);
}
button:hover i{
    transition: position linear 0.5s;
    position: relative;
    left: 10px;
}
button i{
    margin-left: 8px;
}



/* ---------header-section-end---------------- */

/* --------------------------------
Popular Collection start
-------------------------------- */

.product-sec{
    display: flex;
    justify-content: center;
    
    ;
}
.popular-title{
    text-align: center;
    margin: 30px 0;
    font-size: 28px;
    color: #3A3A3A;

}
.section2{
    padding: 50px;
    
    
}

.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    

}


.card{
    padding: 17px 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    
}
.card-pic img{
    width: 300px;
    height: 256px;
}

.card-details h3{
    margin: 16px 0 6px 0;
    font-size: 28px;
    font-weight: 500;
    color: #18191F;
}
.card-details p{
    margin: 0;
    
    
}
.price{
    font-size: 24px;
}
.rating{
    font-size: 14px;
}
.rating i{
    color: #FB8200;
}
.rating span{
    color: #5E6366;
}
.description{
    color: #787885;

}

.see-more{
    text-align: right;
    color: rgba(224, 44, 109, 0.87);
    font-weight: bold;
    font-size: 16px;
}
.see-more i{
    padding-left: 8px;
    margin: 50px 0;
}
.see-more:hover{
    position: relative;
    left: 10px;
    transition: position ease-in-out 0.3s;
}
/* --------------Popular Collection end----------------- */

/* ------------------------------------------
get-in-touch-start
----------------------------------------- */
.get-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
   
}

.get-in{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    width: 1000px;
}
.get-details{
    padding: 50px;
}
.get-text h3{
    color: rgba(224, 44, 109, 0.87);
    font-size: 28px;
    margin: 0;
}
.get-text p{
    color: #787885;
    font-size: 14px;
    margin: 15px 0;
}
.address{
    color: #5E6366;
}
/* -------------form------------------------------ */
.get-form{
    padding: 50px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    
    
}
.get-form h3{
   font-size: 24px;
   color: rgba(224, 44, 109, 0.87);
}

.f-input{
    width: 100%;
    position: relative;
    padding: 12px 20px;
    margin: 15px 0;
    outline: none;
    display: inline-block;
    border: 1px solid #F1E4FF;
    background-color: rgba(228, 222, 222, 0.589);
    border-radius: 4px;
    box-sizing: border-box;
    color: grey;
  }
  
 

  input[type=submit] {
    width: 100%;
    background-color: rgba(224, 44, 109, 0.87);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
/* --------------------------------
footer 
-------------------------------- */
footer{
    background: #0A0826;
    height: 239px;
    display: flex;
    align-items: center;
    justify-content: center
}
.footer-text{
    text-align: center;
    color: white;
}    
.footer-text h3{
    margin: 3px 0;
    font-size: 24px;
    
}
.footer-text p{
    font-size: 14px;
    
}
.social-icon a i{
    margin: 8px;
    padding: 7px;
    background-color: rgba(255, 255, 255, 0.116);
    border-radius: 50%;
    color: white;
}




/* ------------------------------------------
Mobile version
----------------------------------------- */
@media only screen and (max-width:688px){

    /* -----------------head-section-start-------------- */
    .head-pic{
        position: absolute;
        top: 50px;
        left: 20px;
        margin-left: 0;
        
    }
    .head-pic img{
        top: 80px;
        left: 35px;
        width: 250px;
        height: auto;
    }
    .border-circle{
        
        width: 300px;
        height: 300px;
    }
    .head-pic .circle{
        top: 65px;
        left: 60px;
        width: 230px;
        height: 230px;
    }
    /* -----------head-text--------- */

    .head-text{
        position: absolute;
        top: 400px;
        left: 0px;
        margin: 0;
        padding: 10px;
        text-align: center;
    }
    .head-text h1{
        font-size: 28px;
        
    
    }
    .head-text p{
        font-size: 14px;
        
    
    }
    
    /* ----------------head-section-end------------- */

    /* ----------popular-collection-start------------- */
    .product-sec{
         margin-top: 550px;
    }
    .products{
        
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
        margin: 50px 0 0px 0;
      
    }
    .section2{
        padding: 0;
        margin: 0 20px;
    }
    .see-more{
        margin: 0px;
        padding-right: 16px;
    }
    /* ---popular-collection-end----- */
    .get-in{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        padding: 0;
       
    }
    
}
/* ======================================================================== */
/* ------------------------------------------
tablet version
----------------------------------------- */
@media only screen and (min-width:689px) and (max-width:1000px){

    /* -----------------head-section-start-------------- */
    .headparts{
        position: absolute;
        left: 230px;
        top: -50px;
    }
    .head-pic{
        position: absolute;
        top: 0px;
        left: 20px;
        margin-left: 0;
        
    }
    .head-pic img{
        top: 80px;
        left: 35px;
        width: 350px;
        height: auto;
    }
    .border-circle{
        
        width: 400px;
        height: 400px;
    }
    .head-pic .circle{
        top: 65px;
        left: 60px;
        width: 330px;
        height: 330px;
    }
    /* -----------head-text--------- */

    .head-text{
        position: absolute;
        top: 450px;
        left: 0px;
        margin: 0;
        padding: 10px;
        text-align: center;
    }
    .head-text h1{
        font-size: 28px;
        
    
    }
    .head-text p{
        font-size: 14px;
        
    
    }
    
    /* ----------------head-section-end------------- */

    /* ----------popular-collection-start------------- */
    .product-sec{
         margin-top: 750px;
    }
    .products{
        
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
        margin: 50px 0 0px 0;
      
    }
    .section2{
        padding: 0;
        margin: 0 20px;
        
    }
    .see-more{
        margin: 0px;
        padding-right: 16px;
    }
    /* ---popular-collection-end----- */
    .get-in{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        padding: 0;
       
    }
    
}